{% extends 'base.html' %}
{% block body %}

    <div class="container-fluid">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row d-flex " style="background-color: rgb(103, 175, 220);color:#fff;width:100%;margin: auto;">
                    <div class="col ">Stock Item Voucher</div>
                    <div class="col-4" style="font-weight:600 ;text-transform:capitalize;">{{company.name}}</div>
                    
                          <div class= 'col-2'><a href="javascript:history.go(-1);">
                              <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times" style="color: black;"></i></span></a>
                          </div> 
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered border-dark " style="background-color: rgba(33,57,77,255);color:#fff;">

                       <tr>
                        <th colspan="7" >Stock Item : {{item.name }}</th>
                        <th colspan="7" class="text-right">1-april-2022 to 30-april-2022</th>
                       </tr>
                       <tr>
                        <th rowspan="2"> Date</th>
                        <th colspan="6" rowspan="2">Particulars</th>
                        <th colspan="2" class="text-center">Inwards</th>
                        <th colspan="2"  class="text-center">Outwards</th>
                        <th colspan="2" class="text-center">Closing</th>
                       </tr>
                       
                       <tr>
                        <th class="text-center text-white">Quantity</th>
                        <th class="text-center text-white">Value</th>
                        <th class="text-center text-white">Quantity</th>
                        <th class="text-center text-white">Value</th>
                        <th class="text-center text-white">Quantity</th>
                        <th class="text-center text-white">Value</th>
                      </tr>

                       <tr class="">
                        <td></td>
                        <td colspan="6" class="text-left"><i> Opening Balance</i></td>
                        <td>{{item.quantity}} {{item.units}}</td>
                        <td>{{item.value}}</td>
                        <td></td>
                        <td></td>
                        <td>{{item.quantity}} {{item.units}}</td>
                        <td>{{item.value}}</td> 
                        
                        
                       </tr>

                       {% for v in voucher %}
                       <tr class="">
                        <td >{{v.date}}</td>
                        <td colspan="6">{{v.Particulars}}</td>
                        
                        <th>{{v.inwards_qty}} {{item.units}}</th>
                        <th>{{v.inwards_val}}</th>
                        <th>{{v.outwards_qty}} {{item.units}}</th>
                        <th>{{v.outwards_val}}</th>
                        <th>{{v.closing_qty}} {{item.units}}</th>
                        <th>{{v.closing_val}}</th> 
                       </tr>
                       {% endfor %}

                       <tr>
                        <td colspan="7">Totals as per 'Default' Valuation :</td>
                        <td>{{sum1}}</td>
                        <td>{{sum2}}</td>
                        <td>{{sum3}}</td>
                        <td>{{sum4}}</td>
                        <td>{{sum5}}</td>
                        <td>{{sum6}}</td>
                       </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

<style>
.trhover:hover{
    background-color: rgb(31, 40, 68);
}
</style>

{% endblock %}